blockquote {
    background: rgba(255, 255, 255, 0.7);
    border: none;
    @include font-size(1.2);
}

@media (min-width: 768px) {
    blockquote {
        margin: 35px 65px;
        padding: 15px;
        position: relative;

        &:before,
        &:after {
            color: #e4e4e4;
            color: rgba(83, 83, 83, 0.2);
            @include font-size(20.0);
            font: {
                weight: bold;
            }
            line-height: 1;
            height: 60px;
            position: absolute;
            z-index: -1;
        }

        &:before {
            content: "\201C";
            top: -40px;
            left: -25px;
        }

        &:after {
            content: "\201D";
            bottom: 12px;
            right: -25px;
        }
    }
}