@font-face {
    font-family: 'Rushistly';
    src: url('assets/fonts/rushistly-webfont.eot');
    src: url('assets/fonts/rushistly-webfont.eot#iefix') format('embedded-opentype'),
    url('assets/fonts/rushistly-webfont.ttf') format('truetype'),
    url('assets/fonts/rushistly-webfont.svg#Rushistly') format('svg'),
    url('assets/fonts/rushistly-webfont.woff2') format('woff2'),
    url('assets/fonts/rushistly-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}