@import "font-face";

body {
    color: $color_body;
    font: {
        family: $font_body;
        size: $font_body-size;
        weight: $font_body-weight;
    }
    letter-spacing: .01em;
    line-height: 1.7;
    text-align: justify;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

p {
    margin-bottom: 20px;
}

/*--------------------------------------------------------------
1.1 Headings
--------------------------------------------------------------*/
@import "headings";

/*--------------------------------------------------------------
1.2 Blockquotes
--------------------------------------------------------------*/
@import "blockquotes";