.wp-caption {
    background: none;
    max-width: 100%;

    .wp-caption-text {
        color: #888;
        @include font-size(1.0);
        font: {
            family: Merriweather, Georgia, serif;
            style: italic;
        }
        letter-spacing: .1em;
    }
}