.wp-caption {
    background: none;
    border: 1px solid #f1f1f1;
    padding: 5px;
    text-align: center;

    .wp-caption-text {
        @include font-size(1.0);
        font: {
            style: italic;
        }
        letter-spacing: .24em;
        margin-top: 3px;
    }
}