#slide-out {
    background: #f48e9e;
    border-bottom: 4px solid #db808e;
    position: relative;

    &:before,
    &:after {
        border-color: #f48e9d transparent transparent transparent;
        border-style: solid;
        border-width: 20px 62px 0 62px;
        content: '';
        width: 0;
        height: 0;
        margin-left: -62px;
        position: absolute;
        bottom: -20px;
        left: 50%;
    }

    &:before {
        border-color: #db808e transparent transparent transparent;
        border-width: 24px 74px 0 74px;
        bottom: -24px;
        margin-left: -74px;
    }

    .widget-area {
        @include font-size(1.1);

        .col-md-4 {
            padding: 15px 15px 0;

            @media (min-width: 992px) {
                &:nth-child(1),
                &:nth-child(2) {
                    border-right: 1px solid rgba(0, 0, 0, 0.1);
                }
            }
        }
    }

    .widget-title {
        @include font-size(0.9);
        font: {
            weight: bold;
        }
        letter-spacing: .24em;
        text-transform: uppercase;
    }

    .widget {
        margin-bottom: 15px;
    }

    input[type="email"],
    input[type="password"],
    input[type="search"],
    input[type="text"],
    textarea,
    select {
        background: #d66e7e;
        color: white;

        &::-moz-placeholder {
            color: white;
        }
    }

    // Toggle is disabled
    &.slide-out-inactive {

        .widget {
            margin: 0;
        }

        .widget-area {
            display: none;

            @media screen and (min-width: 768px) {
                display: block;
                padding-top: 3px;
                position: relative;
                z-index: 10;
            }
        }
    }
}

#widget-area-wrap {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: none;
    margin-bottom: 5px;
}

#slide-out-toggle,
#slide-out-heart {
    color: rgba(255, 255, 255, 0.6);
    display: block;
    @include font-size(3.6);
    line-height: 1;
    margin: 0 auto -15px;
    position: relative;
    z-index: 10;
    text-align: center;

    &:hover {
        border: none;
        color: rgba(255, 255, 255, 0.9);
    }
}

#slide-out-heart {
    @include font-size(3.0);
    margin: 5px auto -15px;
    z-index: 1;

    &:hover {
        color: rgba(255, 255, 255, 0.6);
    }

    @media screen and (min-width: 768px) {
        margin: -20px auto -8px;
    }
}